snippet desc "Mocha describe block" b
describe("$1", () => {
  $2
});
endsnippet

snippet its "Mocha synchronous it block" b
it("$1", () => {
  $2
});
endsnippet

snippet /** "Comment block" b
/**
 * $1
 */
endsnippet
